* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: font-pokemonsolid;
  src: url(./assets/fonts/Pokemon\ Solid.ttf);
}

:root {
  --header-height: 4.5rem;
  /*colors*/
  --base-color: #2c3e50;
  --base-blue-title: #34495e;
  --orangepoke: #f15f3e;
  --yellowpoke: #fde57a;
  --turquoisepoke: #43aa8b;
  --bluepoke: #577590;

  /*fonts*/
  --title-font: "Poppins", "DM Sans", sans-serif;
  --title-font-size: 2.25rem;
  --subtitle-font-size: 1.125rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.image {
  max-width: 142px;
  max-height: 842px;
  width: 100%;
  height: 100%;
  object-fit: fill;
  float: left;
  justify-items: left;
}

.imagepassport {
  float: right;
  padding: 1rem;
  padding-bottom: 2rem;
}

.imageserie {
  float: left;
  padding: 1rem;
}

.imageditto {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* ===== BASE ===== */
html {
  scroll-behavior: smooth;
}

body p {
  font: 400 1rem var(--title-font);
}

header .logo {
  position: absolute;
  left: 1.875rem;
  max-width: 504px;
  max-height: 161px;
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.title {
  top: 1rem;
  font: 3rem;
  font-family: font-pokemonsolid;
  color: var(--base-blue-title);
  font-weight: lighter;
}

.secondtitle {
  font: 1rem;
  font-family: font-pokemonsolid;
  color: #16a085;
  font-weight: lighter;
}

.pages {
  font-size: 2rem;
  font-family: font-pokemonsolid;
  color: var(--bluepoke);
}

/* ===== LAYOUT ===== */
.container {
  margin-left: 1rem;
  margin-right: 1rem;
}

.section {
  padding: calc(5rem + var(--header-height)) 0;
}

.grid {
  display: grid;
  gap: 1rem;
}

#header {
  display: flex;
  height: 10rem;
  width: 100%;
  position: fixed;
  z-index: 100;
  background: var(--bluepoke);
}

#header.scroll {
  background: #7dd1b8;
  transition: color 0.2s;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

nav ul li {
  text-align: center;
}

nav ul li a {
  transition: color 0.2s;
  position: relative;
}

nav ul li a:hover {
  color: var(--turquoisepoke);
}

nav ul li a::after {
  content: "";
  width: 0%;
  height: 0.125rem;
  background: var(--turquoisepoke);
  position: absolute;
  left: 0;
  bottom: -0.5rem;
  transition: width 0.2s;
}

nav ul li a:hover::after {
  width: 100%;
}

nav .menu {
  opacity: 0;
  visibility: hidden;
  top: -20rem;
  transition: 0.2s;
}

nav .menu ul {
  display: none;
}

/* ===== MOSTRAR MENU ===== */
nav.show .menu {
  opacity: 1;
  visibility: visible;
  background: var(--yellowpoke);
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  display: grid;
  place-content: center;
}

nav.show .menu ul {
  display: grid;
}

nav.show ul.grid {
  gap: 1rem;
}

/* ===== TOGGLE MENU ===== */
.toggle {
  color: var(--orangepoke);
  font-size: 1.5rem;
  cursor: pointer;
}

nav .icon-clear {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: -1.5rem;
  right: 1.5rem;
  transition: 0.2s;
}

nav.show div.icon-clear {
  visibility: visible;
  opacity: 1;
  top: 1.5rem;
}

/* ===== HOME ===== */
#home .container {
  margin: 0;
}

#home .text {
  float: right;
}

#home .text p {
  margin-bottom: 0.5rem;
  font: 400 1rem var(--title-font);
  width: 100%;
}

#home .text p.sinopse {
  width: 80%;
}

#home .text span {
  font-family: font-pokemonsolid;
  color: #fada4b;
}

/* ===== PESQUISA, ORDENAR, FILTRO E CÁLCULO ===== */
#container-principal section {
  top: 12rem;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
}

.pokemonSearch {
  border-radius: 0.625rem;
  background-color: var(--bluepoke);
  color: var(--yellowpoke);
  font-size: 1.25rem;
  text-align: center;
  width: 25rem;
  height: 3.75rem;
  padding: 0.625rem;
  align-content: center;
  margin-bottom: 1rem;
}

.pokemonSearch::placeholder {
  color: var(--yellowpoke);
}

.filterButton {
  text-align: center;
  border-radius: 0.625rem;
  background-color: var(--bluepoke);
  color: var(--yellowpoke);
  font-size: 1.25rem;
  width: 6.25rem;
  height: 3.125rem;
  padding: 0.625rem;
  align-content: center;
  font: 700 1rem var(--title-font);
}

.filterBytType {
  padding: 0.625rem;
  margin-bottom: 2.5rem;
  border-radius: 0.625rem;
  background-color: var(--bluepoke);
  color: var(--yellowpoke);
  font: 700 1rem var(--title-font);
  text-align: center;
}

.resultcalc {
  text-align: center;
  font-size: 1.25rem;
  width: 60%;
  margin: 0 auto;
  color: var(--base-color);
  font: 700 1rem var(--title-font);
}

.orderCP {
  padding: 0.625rem;
  margin-bottom: 1.25rem;
  text-align: center;
  border-radius: 0.625rem;
  background-color: var(--bluepoke);
  color: var(--yellowpoke);
  font: 700 1rem var(--title-font);
  align-content: center;
  text-align: center;
}

/* ===== CARDS =====*/
#container-pokedex {
  margin-top: 12.5rem;
}

.pokedex {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 0.625rem;
  padding-inline-start: 0;
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.cards {
  width: 17.5rem;
  margin-top: 1rem;
  list-style: none;
  color: var(--base-color);
  text-align: center;
  border-radius: 2.5rem;
  position: relative;
}

.steel {
  background-color: #f4f4f4;
}

.fire {
  background-color: #ffdac1;
}

.grass {
  background-color: #b5ead7;
}

.electric {
  background-color: #fff2a7;
}

.water,
.ice {
  background-color: #def3fd;
}

.ground {
  background-color: #f4d5c0;
}

.rock {
  background-color: #b2bec3;
}

.fairy {
  background-color: #fecfd9;
}

.poison {
  background-color: #c7ceea;
}

.bug {
  background-color: #e2f0cb;
}

.dragon {
  background-color: #97b3e6;
}

.psychic {
  background-color: #a0e0ca;
}

.flying {
  background-color: #f5f5f5;
}

.fighting {
  background-color: #e6e0d4;
}

.normal {
  background-color: #f0f8ff;
}

.ghost {
  background-color: #d4f0f0;
}

.dark {
  background-color: #bdc3c7;
}

.cards:hover {
  animation: bounce 0.3s linear;
}

.card-title {
  font-family: font-pokemonsolid;
  text-transform: capitalize;
  font-size: 1.6rem;
  font-weight: lighter;
  position: relative;
}

.card-subtitle {
  text-transform: capitalize;
  color: var(--base-color);
  font-weight: lighter;
  position: relative;
  font-size: 1rem;
  font-weight: bolder;
  font-family: var(--title-font);
}

.card-subtitle2 {
  color: var(--base-color);
  font-weight: lighter;
  position: relative;
  text-transform: capitalize;
  font-size: 1.125rem;
  font-family: font-pokemonsolid;
}

.card-subtitle2:hover {
  color: var(--bluepoke);
}

.card-image {
  height: 10rem;
  position: relative;
}

/* ===== FOOTER ===== */
footer {
  display: flex;
  width: auto;
  height: auto;
  background: var(--orangepoke);
  font: 400 1rem var(--title-font);
  color: var(--yellowpoke);
}

footer .logo-alt {
  margin: 1rem 1rem 1.5rem 1.5rem;
  max-width: 237px;
  max-height: 67px;
  width: 100%;
  height: 100%;
  object-fit: fill;
}

footer .social a {
  margin-top: 1.5rem;
  margin-right: 0.5rem;
  transition: 0.3s;
  display: inline-block;
  color: var(--yellowpoke);
  font-size: 1.5rem;
  align-items: center;
  text-align: left;
  justify-content: space-between;
}

footer .social a:hover {
  transform: translateY(-8px);
}

footer .social a.developedBy {
  font-size: 1rem;
}

/* ===== MEDIA QUERIES =====*/
@media (max-width: 480px) {
  header .logo {
    top: 3rem;
    max-width: 260px;
    max-height: 83px;
    width: 90%;
    object-fit: fill;
  }

  .title {
    font-size: 1rem;
    font-family: font-pokemonsolid;
    color: var(--base-blue-title);
    font-weight: lighter;
    text-align: center;
    width: 90%;
    margin-left: 2rem;
  }

  .secondtitle {
    font-size: 1rem;
    font-family: font-pokemonsolid;
    color: #16a085;
    font-weight: lighter;
    text-align: center;
    width: 90%;
    margin-left: 2rem;
  }

  #home .text span {
    font-family: font-pokemonsolid;
    color: var(--base-blue-title);
    font-weight: lighter;
  }

  #home .text p {
    font: 400 0.9rem var(--title-font);
    width: 80%;
    text-align: center;
    margin-left: 2rem;
  }

  #home .text p.sinopse {
    width: 80%;
    text-align: center;
    margin-left: 2rem;
  }

  .image {
    display: none;
  }

  .imagepassport {
    display: none;
  }

  .imageserie {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    object-fit: fill;
  }

  .pokemonSearch {
    border-radius: 0.625rem;
    background-color: var(--bluepoke);
    color: var(--yellowpoke);
    font-size: 1.25rem;
    text-align: center;
    width: 18, 75rem;
    height: 2.5rem;
    padding: 0.625rem;
    align-content: center;
    margin-bottom: 1rem;
  }

  .filterButton {
    text-align: center;
    margin-left: 2.5rem;
    margin-bottom: 1rem;
    border-radius: 0.625rem;
    background-color: var(--bluepoke);
    color: var(--yellowpoke);
    font-size: 2.5rem;
    width: 5.625rem;
    height: 2.5rem;
    padding: 0.312rem;
    align-content: center;
    font: 700 1rem var(--title-font);
  }

  .filterBytType {
    margin-left: 2rem;
    padding: 0.312rem;
    margin-bottom: 2.5rem;
    border-radius: 0.625rem;
    height: 2.5rem;
    background-color: var(--bluepoke);
    color: var(--yellowpoke);
    font: 700 1rem var(--title-font);
    text-align: center;
  }

  .resultcalc {
    text-align: center;
    font-size: 1.25rem;
    width: 60%;
    height: 2.5rem;
    margin: 0 auto;
    color: var(--base-color);
    font: 700 1rem var(--title-font);
  }

  .orderCP {
    margin-left: 2rem;
    padding: 0, 625rem;
    margin-bottom: 1.25rem;
    text-align: center;
    border-radius: 0, 625rem;
    background-color: var(--bluepoke);
    color: var(--yellowpoke);
    font: 700 1rem var(--title-font);
    align-content: center;
    text-align: center;
  }

  .logo-alt {
    display: none;
  }

  .section {
    padding: calc(5rem + var(--header-height)) 0;
  }

  footer .social a {
    margin-left: 1rem;
    display: inline-block;
    color: var(--yellowpoke);
    font-size: 1.5rem;
    align-items: center;
    text-align: center;
    justify-content: center;
  }

  footer .social a.developedBy {
    font-size: 1rem;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  #header {
    display: flex;
    height: 10rem;
    width: 100%;
    position: fixed;
    z-index: 100;
    background: var(--bluepoke);
  }

  header .logo {
    top: 2rem;
    left: 5rem;
    max-width: 330px;
    max-height: 105px;
    width: 90%;
    object-fit: fill;
  }

  .title {
    font-size: 1rem;
    font-family: font-pokemonsolid;
    color: var(--base-blue-title);
    font-weight: lighter;
    text-align: center;
    width: 90%;
    margin-left: 2rem;
  }

  .secondtitle {
    font-size: 1rem;
    font-family: font-pokemonsolid;
    color: #16a085;
    font-weight: lighter;
    text-align: center;
    width: 90%;
    margin-left: 2rem;
  }

  #home .text span {
    font-family: font-pokemonsolid;
    color: var(--base-blue-title);
    font-weight: lighter;
  }

  #home .text p {
    font: 400 1rem var(--title-font);
    width: 90%;
    text-align: center;
    margin-left: 2rem;
  }

  #home .text p.sinopse {
    width: 90%;
    text-align: center;
    margin-left: 2rem;
  }

  .image {
    display: none;
  }

  .imagepassport {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  .imageserie {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  .logo-alt {
    display: none;
  }

  .section {
    padding: calc(5rem + var(--header-height)) 0;
  }

  footer .social a.developedBy {
    font-size: 1rem;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  header .logo {
    top: 1.5rem;
    left: 10rem;
    max-width: 400px;
    max-height: 128px;
    width: 100%;
    object-fit: fill;
  }

  .title {
    font-size: 1rem;
    font-family: font-pokemonsolid;
    color: var(--base-blue-title);
    font-weight: lighter;
    text-align: center;
    width: 90%;
    margin-left: 2rem;
  }

  .secondtitle {
    font: 0.3rem;
    font-family: font-pokemonsolid;
    color: #16a085;
    font-weight: lighter;
    text-align: center;
    width: 90%;
    margin-left: 2rem;
  }

  footer .social a.developedBy {
    font-size: 1rem;
  }
}

@media (min-width: 1023px) {
  .title {
    font-size: 1.5rem;
    font-family: font-pokemonsolid;
    color: var(--base-blue-title);
    font-weight: lighter;
    text-align: center;
    width: 100%;
    margin-left: 2rem;
  }

  .secondtitle {
    font-size: 1.5rem;
    font-family: font-pokemonsolid;
    color: #16a085;
    font-weight: lighter;
    text-align: center;
    width: 100%;
    margin-left: 2rem;
  }

  #home .text span {
    font-family: font-pokemonsolid;
    color: var(--base-blue-title);
    font-weight: lighter;
  }

  #home .text p {
    font: 400 1rem var(--title-font);
    width: 90%;
    text-align: center;
    margin-left: 2rem;
  }

  #home .text p.sinopse {
    width: 80%;
    text-align: center;
    margin-left: 2rem;
  }
}

@media (min-width: 1200px) {
  .section {
    padding: 10rem 0;
  }

  .section header {
    max-width: 40rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  nav .menu {
    opacity: 1;
    visibility: visible;
    top: 0;
  }

  nav .menu ul {
    display: flex;
    gap: 2rem;
  }

  nav .menu ul li a.title {
    font: 400 1rem;
    -webkit-font-smoothing: antialiased;
  }

  nav .icon-menu {
    display: none;
  }

  .pages {
    font-size: 3rem;
    font-family: font-pokemonsolid;
    color: var(--yellowpoke);
    left: 40rem;
  }

  #home .container {
    grid-auto-flow: column;
    justify-content: space-between;
    margin: 0 auto;
  }

  .title {
    font-size: 2rem;
    font-family: font-pokemonsolid;
    color: var(--base-blue-title);
    font-weight: lighter;
    text-align: center;
    width: 100%;
    margin-left: 2rem;
  }

  .secondtitle {
    font-size: 2rem;
    font-family: font-pokemonsolid;
    color: #16a085;
    font-weight: lighter;
    text-align: center;
    width: 100%;
    margin-left: 2rem;
  }

  #home .text span {
    font-family: font-pokemonsolid;
    color: var(--base-blue-title);
    font-weight: lighter;
  }

  #home .text p {
    font: 400 1.5rem var(--title-font);
    width: 100%;
    text-align: center;
    margin-left: 2rem;
  }

  #home .text p.sinopse {
    width: 100%;
    text-align: center;
    margin-left: 2rem;
  }

  footer.section {
    padding: 0 0;
  }
}

@keyframes bounce {
  20% {
    transform: translateY(-6px);
  }
  40% {
    transform: translateY(0px);
  }

  80% {
    transform: translateY(-2px);
  }
  100% {
    transform: translateY(0);
  }
}
